<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProfessionalConnector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BFF44211DB09E090078D74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF44351DB09E0A0078D74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF44401DB09E0A0078D74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
